
.container{
    width: 25vw;
    background-color: rgba(255, 255, 255, 0.925);
    border-radius: 20px;
    border: solid 8px #A7D2EF;
    flex-direction: column;
}

.conteudo{
    background-color: #CFD4E0;
    border-radius: 38px;
    padding: 1%;
    margin: 5px;
    height: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 8px solid #D8E0F3;
}

.ajustes{
    background-color: #dee4e8e1;
    border-radius: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

}

.hello{
    margin: 0;
    margin-bottom: 10px;
    color: #6C6C6C;
    font-weight: bold;
    font-size: 300%;
}

.imgPerfil{
    margin: 0px;
}

.configbutao{
    height: 15%;
    width: 90%;
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    color: white;
    font-size: 20px;
    background-color: #737782;
    margin-top: 4%;
    
}