@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.container{
    width: calc(100vw - 30px);
    height: calc(100vh - 20px);
    background-color: rgba(255, 255, 255, 0.842);
    position: relative;
    border-radius: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%  0.3%;
}

.botoessecun{
    width: 26vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 95%;
    align-items: center;
    
}


.boxperfil_bground1{
    width: 97%;
    height: 96%;
    background-color: rgba(128, 128, 128, 0.171);
    border-radius: 38px;
    display: flex;
    align-items: center;
}

.boxperfil{
    width: 70%;
    margin-left: 1.3%;
    height: 96%;
    background-color: #ffffffe0;
    border-radius: 38px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
}

.boxperfil::-webkit-scrollbar{
    display: none;
}

.butterc{
    flex-direction: column;
    width: 15vw;
    height: 8vh;
    margin: 7% 0;
    text-align: center;
    font-size: 159%;
    font-weight: bold;
    background-color: #D9D9D9;
    border-radius: 16px;
    box-shadow: 5px 5px 5px 5px black;
    cursor: pointer;
}
.butterc:hover{
    background-color: #4d4b4b;
    color: white;
}

.tupla{
    width: 63vw;
    height: 9vh;
    background-color: #ffffff;
    margin-top: 1%;
    display: flex;
    margin-bottom: 2%;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 35px;
    padding: 1%;
    border: 3px solid rgba(0, 0, 0, 0.205);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.212);
    align-items: center;

}

.nomee{
    color: black;
    text-decoration:solid white;
    text-decoration: none;
    margin-bottom: 0.5%;
    font-size: 200%;}

.tuplas{
    text-decoration: none;
}

.divdotexto{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20%;
}

.info{
    color: black;
    text-decoration: none;
    font-size: 0.7vw;
    text-align: center;
}

.fotoperfil{
    width: 19%;
    height: 10vh;
    position: relative;
    border-radius: 100%;
    right: 32%;
    bottom: 55%;
}

.tamanhotexto{
    width: 35vw;
    height: 6vh;
    justify-items: center;
}