@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.bground_container{
    background-color:  #cdd0dfbb;
    border-radius: 38px;
    display: flex;
    height: calc(100vh - 40px);
    margin-top: 1vh;
}

.container{
    margin: 10px;
    width: 25vw;
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 38px;
    flex-direction: column;
    padding: 10px;
    overflow: auto;
}

.container::-webkit-scrollbar{
    display: none;
}

.conteudo{
    background-color: #aeaec0;
    border-radius: 38px;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 8px solid #dae2f18f;
}

.ajustes{
    background-color: #dee0e8e1;
    border-radius: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.hello{
    margin: 0;
    margin-bottom: 10px;
    color: #6C6C6C;
    font-weight: bold;
    font-size: 300%;
}

.imgPerfil{
    margin-top: 10px;
}

.configbutao{
    height: 40px;
    font-family: 'DM Sans';
    width: 100%;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    color: white;
    font-size: 20px;
    background-color: #737782;
    margin-top: 10px;
<<<<<<< HEAD:src/app/navbar/page.module.css
    cursor: pointer;
}

.configbutao:hover{
    background-color: #3f4146;
=======
    transition: .1s;
}

.configbutao:hover{
    background-color: black;
    cursor: pointer;
}

.configbutao:active{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: black;
    cursor: pointer;
>>>>>>> 647768493cc4abec0344113fc856d4f8200be853:src/app/Components/navbar/page.module.css
}

.configbutao1{
    height: 8%;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-family: 'DM Sans';
    color: black;
    font-size: 20px;
    background-color: #b6b8c086;
    margin-top: 4%;
    text-align: left;
}

.configbutao1:hover{
    background-color: #4c4e53a2;
    color: white;
    cursor: pointer;
    box-shadow: 0px 2px 15px rgba(0, 0,0,.3);
}

.configbutao1:active{
    background-color: #4c4e53ef;
    color: white;
    cursor: pointer;
    box-shadow: 0px 2px 15px rgba(0, 0,0,.3);
}

.navImgs{
    margin-left: 1%;
    margin-right: 4%;
    width: 50px;
    object-fit: contain;
}

.navBarBtns{
    text-decoration: none;
}

.sairConta1{
    color: black;
    font-weight: 800;
    background: none;
    outline: none;
}

.sairConta1:hover{
    text-shadow: 0px 0px 10px rgba(0, 0,0,.3);
}

.configbutao1:hover .navImgs{
    filter: invert();
}