@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.forms{
    display: inline-flex;
    flex-direction: column;
    margin: 2% -20%;
    width: 30vw;
    height: 2.5vw;
    border-radius: 30px;
    border: none;
    font-size: 105%;
    text-align: center;
    outline: none;
}

.forms::backdrop{
    border: none;
}

.containerforms{
    display: inline-flex;
}

.laforms{
    background-color: #ffffff80;
    margin: 2%;
    border-radius: 30px;
    width: 15vw;
    height: 2.6vw;
    text-align: start;
    
}

.containerdescr{
    display:flex;
    flex-direction: column;
    width: 35vw;
}

.descr{
    background-color: #ffffff80;
    border-start-start-radius: 50px;
    border-start-end-radius: 50px;
    height: 4vh;
    width: 35.2vw;

}

.conteudodescri{
    height: 20vh;
    text-align: start;
    vertical-align:text-top;
    border-end-end-radius: 50px;
    border-end-start-radius: 50px;
    width: 35vw;
    border: none;
    outline: none;
}

.butao{
    background-color: #AEB0DF;
    width: 35vw;
    height: 27vw;
}

.enviar{
    margin: 10% 0%;
    width: 50vw;
    height: 4vh;
    background-color: #AEB0DF;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}

.enviar:hover{
    background-color: #0007ce;
    color: white;
}


input{
    font-size: 150%;
    width: 30vw;
    height: 4vh;
    margin-bottom: 1%;
    border-radius: 22px;
    border: none;
    padding-left: 1%;
}

button{
    width: 20vw;
    height: 5vh;
    margin-top: 9%;
    border-radius: 35px;
    border: 1px solid black;
    font-size: 94%;
    font-weight: bold;
    background-color: #0007ce1c;
}

button{
    width: 20vw;
    height: 5vh;
    margin-top: 9%;
    border-radius: 35px;
    border: 1px solid black;
    font-size: 94%;
    font-weight: bold;
    background-color: #0007ce74;
    cursor: pointer;
}

button:hover{
    background-color: #1d1f47b4;
    color: white;
}