.container{
    width: 75vw;
    height: calc(100vh - 20px);
    background-color: rgba(255, 255, 255, 0.877);
    position: relative;
    border-end-end-radius: 38px;
    border-top-right-radius: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    width: 15%;
    height: 47%;
}

.boxperfil{
    width: 80%;
    height: 90%;
    background-color: #ffffffde;
    position: absolute;
    border-radius: 38px;
    border: solid 15px rgba(128, 128, 128, 0.411);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ajustes{
    background-color: #dee4e8e1;
    border-radius: 38px;
    height: 30%;
    width: 90%;
    margin: 20px;
    align-items: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hello{
    color: black;
    background-color: rgba(128, 128, 128, 0.356);
    text-align: center;
    border-radius: 50px;
    font-size: 200%;
    padding: 1% 5%;
}

.perfil{
    text-align: center;

}

.botoesDiv {
    display: flex;
    flex-direction: column;
    min-width: 31%;
}

.botaoconfig{
    height: 55px;
    margin-bottom: 20px;
    border-radius: 38px;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

.botaoconfig:hover{
    background-color: rgba(0, 0, 0, 0.507);
    border: 2px solid black;
    color: white;
}

.botaoconfig1{
    height: 55px;
    margin-bottom: 20px;
    border-radius: 38px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: red;
}

.botaoconfig1:hover{
    color: rgb(161, 161, 161);
    border: 2px solid rgb(0, 0, 0);
}

.configname{
    font-size: 29px;
    font-weight: bold;
}

