@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.container{
    width: calc(100vw - 30px);
    height: calc(100vh - 20px);
    background-color: rgba(234, 231, 231, 0.915);
    position: relative;
    border-radius: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%  0.3%;
}

 
.boxperfil_bground1{
    width: 97vw;
    height: 96vh;
    background-color: #d7c59d44;
    border-radius: 38px;
    display: flex;
    flex-direction: column;
    
}

.conteudorelatorio{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.pontos{
    text-align: start;
    margin-left: 5%;
    font-family: 'Inter', sans-serif;
}
.secao{
    margin-bottom: 2%;
}

.secao1{
    display: inline-flex;
    text-align: start;
    margin-left: 5%;
    flex-direction: row;
    margin-right: 1rem;
    font-size: 80%;
    line-height: 2%;
    font-family: 'Inter', sans-serif;

}

.secao2{
    display: inline-flex;
    text-align: center;
    margin-left: 5%;
    flex-direction: row;
    margin-right: 1rem;
    font-size: 80%;
    line-height: 2%;
    font-family: 'Inter', sans-serif;

}

.motivoavali{
    cursor: pointer;
    text-align: start;
    margin-left: 5%;
    width: 90%;
    font-family: 'Inter', sans-serif;
    font-size: 85%;
}

.fimrelatorio{
    width: 50%;
    align-items: center;
    font-family: 'Inter', sans-serif;
    height: 26%;
    border-radius: 36px;
    border: none;
    background-color: #D7C59D;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 115%;
    cursor: pointer;
}

.fimrelatorio:hover{
    border: 1px solid black;
    background-color: #dbc28a;
    color: rgb(0, 0, 0);
    
}

.divbotao{
    align-items: center;
    justify-content: center;
    display: flex;
}