@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.container{
    width: calc(100vw - 30px);
    height: calc(100vh - 20px);
    background-color: rgba(255, 255, 255, 0.842);
    position: relative;
    border-radius: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%  0.3%;
}

.boxperfil_bground1{
    width: 97%;
    height: 96%;
    background-color: rgba(128, 128, 128, 0.253);
    border-radius: 38px;
    display: flex;
    justify-content: center;
}

.conteudo{
    text-align: center;
}


.logocontainer{
    width: 50vw;
    height: 15vh;
    margin: 4% 0;
    background-color: #ffffff7c;
    border-radius: 38px;
    text-align: center;
}

.texto1{
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: 'DM Sans';
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.07886904761904767) 0%, rgba(0,0,0,0.6587009803921569) 77%);
}

.forms{
    display: inline-flex;
    flex-direction: column;
    margin: 2% -20%;
    width: 30vw;
    height: 2.5vw;
    border-radius: 30px;
    border: none;
    font-size: 105%;
    text-align: center;
    outline: none;
}

.forms::backdrop{
    border: none;
}

.containerforms{
    display: inline-flex;
}

.laforms{
    background-color: #ffffff80;
    margin: 2%;
    border-radius: 30px;
    width: 15vw;
    height: 2.6vw;
    text-align: start;
    
}

.containerdescr{
    display:flex;
    flex-direction: column;
    width: 35vw;
}

.descr{
    background-color: #ffffff80;
    border-start-start-radius: 50px;
    border-start-end-radius: 50px;
    height: 4vh;
    width: 35.2vw;

}

.conteudodescri{
    height: 20vh;
    text-align: start;
    vertical-align:text-top;
    border-end-end-radius: 50px;
    border-end-start-radius: 50px;
    width: 35vw;
    border: none;
    outline: none;
}

.butao{
    background-color: #AEB0DF;
    width: 35vw;
    height: 27vw;
}

.enviar{
    margin: 3% 0%;
    width: 20vw;
    height: 4vh;
    background-color: #AEB0DF;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}

.enviar:hover{
    background-color: #7173aa;
    color: white;
}